language: generic

sudo: required
dist: trusty

addons:
  apt:
    packages:
    - gettext
    - libunwind8
    - libicu52
    - dbus

before_install:
  - curl -sSL -o dotnet.tar.gz https://go.microsoft.com/fwlink/?linkid=848738
  - sudo mkdir -p /opt/dotnet && sudo tar zxf dotnet.tar.gz -C /opt/dotnet
  - sudo ln -s /opt/dotnet/dotnet /usr/local/bin

script:
  - pushd src/Tmds.DBus && dotnet restore && dotnet pack -c Release && popd
  - pushd test/Tmds.DBus.Tests && dotnet restore && dotnet test && popd
