<configuration>
  <dllmap dll="libc">
    <dllentry os="solaris" dll="libsocket.so.1" name="socket" target="socket"/>
    <dllentry os="solaris" dll="libsocket.so.1" name="connect" target="connect"/>
    <dllentry os="solaris" dll="libsocket.so.1" name="bind" target="bind"/>
    <dllentry os="solaris" dll="libsocket.so.1" name="listen" target="listen"/>
    <dllentry os="solaris" dll="libsocket.so.1" name="accept" target="accept"/>
    <dllentry os="solaris" dll="libsocket.so.1" name="getsockopt" target="getsockopt"/>
    <dllentry os="solaris" dll="libsocket.so.1" name="setsockopt" target="setsockopt"/>
    <dllentry os="solaris" dll="libsocket.so.1" name="recvmsg" target="recvmsg"/>
    <dllentry os="solaris" dll="libsocket.so.1" name="sendmsg" target="sendmsg"/>
  </dllmap>
</configuration>
