# .gitignore for F#/.NET projects
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
*.DS_Store
*.swp
*.sln.ide
*.dbmdl
*.log
TestResults/
*.ncrunch*
*.localhistory/
*.idea/
*.Rproj.user/
*.ipch/
*.aps
*.psess
*.vsp
*.vspx
*.sap
*.cache
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.VC.opendb
*.pidb
*.svclog
*.scc
*.orig
*.rej
*.bak
*.tmp
*.old
*.backup
*.publishsettings
*.publish.xml
*.userprefs
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
